@model  Databases.Neo4j.DomainModel.User
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-3 offset-1">
        @if (Request.IsAuthenticated)
        {
            <!--PROFILE DETAILS-->
            <div class="bg-danger" id="sideProfile" style="margin-bottom: 10px; margin-top: 20px; border: 0.3px solid gray; border-radius: 7px;">
                <div id="sideProfilePicture" style="margin-top: 10px; margin-left: 10px;">
                    <img src="@Url.Content(Model.profilepictureurl)" id="sideProfilePictureImg" class="rounded-circle" width="60" height="60">
                </div>
                <div id="sideUsernameLink" style="margin-left: 90px; margin-top: -45px;">
                    <a href="/Profile/@Model.username" style="color: white; font-size: 20px; ">@Model.username</a>
                </div>
                <br />
                <div id="sideUserInfo" style="text-align: left;">
                    <div id="numberOfPosts" style="color:white; margin-left: 17px; width: 33%;">
                        <span>Posts:</span>
                        <p style="margin-left: 15px;" id="numOfPostsP">@Model.numberofposts</p>
                    </div>

                    <div id="numberOfFollowers" style="color: white; margin-left: 80px; margin-top: -64px;">
                        <span>Followers:</span>
                        <p  style="margin-left: 30px;">@Model.followers.Count()</p>
                    </div>

                    <div id="numberOfFollowed" style="color: white; margin-left: 170px; margin-top: -64px;">
                        <span>Followed:</span>
                        <p style="margin-left: 30px;">@Model.followed.Count()</p>
                    </div>
                </div>
            </div>

            <!--RECOMMENDED HASHTAGS FOR LOGGED USER-->
            <div class="" id="sideUserHashtags" style="margin-bottom: 10px; margin-top: 10px; border: 0.3px solid gray; border: none;">
                <p style="color: #dc3545; margin-left: 55px; margin-bottom: 0px;" id="hashtagText">Hashtags for you:</p>
                <ul class="list-group align-items-center" id="sideUserHashtagsUl">
                </ul>
            </div>
        }
        else
        {
            <!--TRANDING HASHTAGS-->
            <div class="" style="margin-bottom: 10px; margin-top: 20px; border: 0.3px solid gray ;  border: none;">
                <p style="color: #dc3545; margin-left: 55px; margin-bottom: 0px;" id="allHashtagText">Popular hashtags:</p>
                <ul class="list-group align-items-center" id="hashtagsUl"></ul>
            </div>
        }
    </div>
    <div class="col-8" style="margin-bottom: 10px; margin-top: 20px;" id="postContainter">
        @if (Request.IsAuthenticated)
        {
            <!--TEXTBOX FOR POSTING-->
            <div class="card border-danger" style="width: 32rem; text-align: left; margin-bottom: 10px;">
                <div class="card-body">
                    <div class="profile-picture col-12">
                        <img src="@Url.Content(Model.profilepictureurl)" id="newPostPicture" class="rounded-circle">
                        <textarea title="Write # to add hashtag." form="newPostForm" rows="2" cols="20" id="newPost" class="newPostArea" placeholder="Say something funny..."></textarea>
                    </div>
                    <form id="newPostForm">
                        <label for="file-upload" class="custom-file-upload btn-outline-danger">
                            <i class="fa fa-file-picture-o"></i>
                        </label>
                        <input id="file-upload" type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|images/*" />
                        <button type="button" id="uploadButton" class="btn btn-primary pull-right btn-outline-danger" style="border-radius: 7px; margin-right: 15px;">Post</button>
                    </form>
                    <span><p style="font-size:10px; margin-left: 68px; color: #dc3545; display: none;" id="uploadedPicutreLable">Uploaded</p></span>
                </div>
            </div>
        }
    </div>
    <div id="loadMoreButtonContainer" class="offset-6">
        <button type="button" class="btn btn-danger" style="margin-left: 35px" id="loadMoreButton">Load More</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Our Scripts/IndexJS.js"></script>
    <script type="text/javascript">
        GetLatestPosts(@Request.IsAuthenticated.ToString().ToLower(), "@User.Identity.Name");

        if (@Request.IsAuthenticated.ToString().ToLower() === true) {
            GetUserHashtags("@User.Identity.Name");
        }
        else {
            GetHashtags();
        }

        function GetLoggedUsername() {
            return "@User.Identity.Name";
        }

        function GetIfLogged() {
            if (@User.Identity.IsAuthenticated.ToString().ToLower() === true)
                return true;
            else
                return false;
        }
    </script>
}